.items:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
.bg-secondary-subtle {
  height: 100%;
  width: 100%;
}
@media (max-width: 576px) {
  .img {
    height: 30vh;
  }
}
@media (min-width: 577px) {
  .img {
    height: 40vh;
  }
}
